@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  width: 100%;
}

h1,
h2,
a,
p {
  font-family: "Red Hat Display", sans-serif;
}

p {
  color: hsl(224deg, 23%, 55%);
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  width: 100%;
}

h1,
h2,
a,
p {
  font-family: "Red Hat Display", sans-serif;
}

p {
  color: hsl(224deg, 23%, 55%);
}

.component-cancel-btn, .component-submit-btn {
  display: block;
  margin: 0 auto;
  border: none;
  font-family: "Red Hat Display", sans-serif;
  background: #fff;
  font-weight: 700;
  cursor: pointer;
  transition: color 250ms linear, background 250ms linear;
}

.component-submit-btn {
  position: relative;
  padding: 1rem 5rem;
  border-radius: 7px;
  background: hsl(245deg, 75%, 52%);
  color: #fff;
  box-shadow: 0 15px 20px #c9c5f7;
}
.component-submit-btn:hover {
  background: #8b82ed;
}
.component-cancel-btn {
  color: hsl(224deg, 23%, 55%);
  padding: 1.5rem 1rem;
  margin-bottom: 0.7rem;
  font-size: 1rem;
}
.component-cancel-btn:hover {
  color: hsl(223deg, 47%, 23%);
}

body {
  background: url(../images/pattern-background-mobile.svg) center/cover no-repeat fixed;
  background-color: hsl(225deg, 100%, 94%);
}

main {
  height: calc(100vh - 1.5rem);
  display: grid;
  place-items: center;
}

.component {
  width: 350px;
  background: #fff;
  border-radius: 25px;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.15);
}
.component-hero {
  margin-bottom: 2.5rem;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}
.component-info {
  display: grid;
  gap: 1rem;
  text-align: center;
  margin-bottom: 1.5rem;
}
.component-info h1 {
  font-size: 1.5rem;
  font-weight: 900;
  color: hsl(223deg, 47%, 23%);
}
.component-info p {
  font-weight: 400;
  line-height: 1.7;
  width: 70%;
  margin: 0 auto;
}
.component-plan {
  display: grid;
  grid-template-columns: auto 2.5fr 1.5fr;
  width: 85%;
  margin: 0 auto;
  margin-bottom: 2rem;
  padding: 1.3rem 1rem;
  align-items: center;
  background: hsl(225deg, 100%, 98%);
  border-radius: 15px;
}
.component-plan-text {
  text-align: left;
  margin-left: 1.2rem;
}
.component-plan-text h2 {
  font-size: 1rem;
  font-weight: 900;
  margin-bottom: 0.1rem;
}
.component-plan a {
  text-align: right;
  font-weight: 700;
  transition: color 250ms linear, background 250ms linear;
  cursor: pointer;
}
.component-plan a:hover {
  text-decoration: none;
  color: #8b82ed;
}

.attribution {
  height: 1.5rem;
  width: 22rem;
  background-color: #fff;
  margin: 0 auto;
  padding: 0.2rem 0;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  font-family: "Red Hat Display", sans-serif;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.15);
}
.attribution a {
  text-decoration: none;
  font-weight: 700;
  font-size: 0.75rem;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  width: 100%;
}

h1,
h2,
a,
p {
  font-family: "Red Hat Display", sans-serif;
}

p {
  color: hsl(224deg, 23%, 55%);
}

@media (min-width: 1440px) {
  body {
    background: url(../images/pattern-background-desktop.svg) top/contain no-repeat fixed;
    background-color: hsl(225deg, 100%, 94%);
  }
  .component {
    width: 400px;
  }
  .component-plan {
    width: 80%;
  }
  .component-info p {
    width: 75%;
  }
  .component-submit-btn {
    padding: 1rem 6rem;
  }
}